[submodule "zsh"]
	path = zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/plugged/ctrlsf.vim"]
	path = vim/plugged/ctrlsf.vim
	url = https://git::@github.com/dyng/ctrlsf.vim.git
[submodule "vim/plugged/nerdcommenter"]
	path = vim/plugged/nerdcommenter
	url = https://git::@github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugged/vim-colors-solarized"]
	path = vim/plugged/vim-colors-solarized
	url = https://git::@github.com/altercation/vim-colors-solarized.git
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
