*.pyc
*.swp

vim/bundle/youcompleteme
vim/bundle/conque-shell
vim/bundle/nerdcommenter
vim/bundle/vim-fugitive
vim/bundle/youcompleteme
vim/.netrwhist*
vim/.VimballRecord

pentadactyl/info/default/cache
pentadactyl/info/default/command-history
pentadactyl/info/default/ignored-keys
pentadactyl/info/default/local-marks
pentadactyl/info/default/register-ring
pentadactyl/info/default/registers
pentadactyl/info/default/url-marks

zsh/cache

msf4/history
msf4/local/*
msf4/logs/*
msf4/loot/*
