*.pyc
*.swp

vim/.netrwhist*
vim/.VimballRecord
vim/bundle/vundle/.netrwhis*
vim/bundle/YouCompleteMe

vimperator/info/default/history-command
vimperator/info/default/history-search
vimperator/info/default/local-marks
vimperator/info/default/macros

zsh/cache

msf4/history
msf4/local/*
msf4/logs/*
msf4/loot/*
